body {
  background-color: #252f41;
}

*:focus {
  outline: 1px dotted white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #dee0e6;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1280px;
  text-align: center;
  margin: 30px auto;
}

.heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #dee0e6;
}

.survey-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.survey-card {
  background-color: #2e3c52;
  width: 200px;
  height: 150px;
  padding: 30px;
  margin: 15px;
  text-align: left;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.survey-heading-section {
  display: flex;
  justify-content: space-between;
}

.survey-heading {
  border-bottom: 1px solid #dee0e6;
  margin-bottom: 10px;
}

.survey-status {
  margin-top: 50px;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-width: 50px;
  padding: 7px 10px 7px 0px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  background-color: #dee0e6;
  color: #2e3c52;
}

[data-reach-menu-button] {
  color: #1ac0c6;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

[data-reach-menu-button][aria-expanded="true"] {
  background: #1ac0c6;
  color: white;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  padding: 0;
  border: 0;
}

[data-reach-menu-item] {
  background-color: #1ac0c6;
  color: white;
  padding: 10px 30px;
  border-bottom: 1px solid #0f7a7e;
}

[data-reach-menu-item][data-selected] {
  background: #0f7a7e;
}

.filters-outer {
  display: flex;
}

.clear-filter-icon {
  margin: 0 5px 0 10px;
  font-size: 35px;
  position: relative;
  top: -3px;
  color: #2e3c52;
}

.filter-button {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 90px;
  padding: 0 10px 0 0;
  margin: 0 5px;
  height: 35px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  color: black;
  background-color: #dee0e6;
  text-decoration: none;
  cursor: pointer;
}

.not-launched::before {
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 5px 0 10px;
  border-radius: 50%;
  background-color: #ffa822;
}

.not-launched::before {
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 5px 0 10px;
  border-radius: 50%;
  background-color: #ffa822;
}

.in-progress::before {
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 5px 0 10px;
  border-radius: 50%;
  background-color: #ff6150;
}

.completed::before {
  content: "";
  width: 15px;
  height: 15px;
  margin: 0 5px 0 10px;
  border-radius: 50%;
  background-color: #1ac0c6;
}

.create-button {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #1ac0c6;
  cursor: pointer;
}

.create-button:hover,
.create-button:focus {
  background-color: #0f7a7e;
}

.modal-heading-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

[data-reach-dialog-content] {
  background: #2e3c52 !important;
}

[data-reach-menu-button] {
  fill: #1ac0c6;
}

.close-button {
  background-color: transparent;
  appearance: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 30px;
}

label {
  display: block;
  color: #dee0e6;
  margin-bottom: 10px;
}

input {
  height: 30px;
  width: 350px;
  padding: 5px 10px;
  border: 1px solid #dee0e6;
  background-color: #252f41;
  color: #dee0e6;
  border-radius: 5px;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:focus {
  border-color: #1ac0c6;
  outline: none;
}
